.body{
    background-color: white;
    position: relative;
}

.sidebar{
    z-index: 90;
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #f5f5f5;
    padding-top: 20px;
}

.sidebar-close {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    z-index: 99;
}